@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
    background-color:	#ecf0f1;
    display: grid;
    grid-template-rows:[f1]50px[f2]500px[f3]400px[f4]600px[f5]300px[f6]200px[f7];
}

header{
    overflow: hidden;
    background-color: white;
    grid-row-start: f1;
    grid-row-end: f2;
}
header li{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.logo{
     
}
.destacat1{
    grid-row-start: f2;
    grid-row-end: f3;
    width: 600px;
    height: 500px;
    background-image: url(/img/destacat1.jpg);
    display: flex;
    background-size:cover;
    background-repeat: no-repeat;

}
.txt1 p,h1{
   
}
.txt1 input{
    padding: 0.5em;
    margin-left: 20px;
    margin-top: 15px;
    font-weight: bold;
    text-transform: uppercase;
   
 }
.destacat2{
    height: 500px;
    background-image: url(/img/destacat2.jpg);
    width: 600px;
    height: 400px;
    background-size:contain;
    background-repeat: no-repeat;
    
}


@media only screen and (min-width: 600px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        font-family: 'Quicksand', sans-serif;
        background-color:	white;
        display: grid;
        grid-template-rows:[f1]50px[f2]700px[f3]600px[f4]600px[f5]300px[f6]200px[f7];
    }
    header{
        width: 100%;
        background-color: #ecf0f1;
        grid-row-start: f1;
        grid-row-end: f2;
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    header h1{
        letter-spacing: 0.2em; 
        color: rgb(105, 38, 105);
        font-weight: bold;
    }
    nav ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }
    nav ul li{
        padding: .5em 1em;
    }
    .svg{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0.5em;
        justify-content: space-between;
        width: 5%;
    }
    .svg .carro{
        order: 3;
    }
    .svg .cor{
        order: 1;
    }
    .svg .lupa{
        order: 2;
    }
    main{
        grid-row-start: f2;
        grid-row-end: f6;
        margin: 10px;
    }
    .destacat1{
        grid-row-start: f2;
        grid-row-end: f3;
        width: 100%;
        height: 700px;
        background-image: url(./img/destacat1.jpg);
        background-repeat: no-repeat;
        background-position: right;
        background-size:50% 700px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .txt1{
        margin-right: auto; 
        margin-top: 300px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-basis: 300px;
    }
    .txt1 p,h1{
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .txt1 input{
        padding: 0.5em;
        padding: 10px;
        margin-right: 200px;
        font-weight: bold;
        text-transform: uppercase;
        border: 2px solid black;
     }
     .txt2{
         margin-right: auto; 
         margin-top: 150px;
         flex-basis: 700px;
         display: flex;
         flex-wrap: wrap;
         flex-direction: column;
            
     }
    .txt2 p{
        font-size: 70px;
        color: white;
        text-shadow: 0 0 10px black;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    .txt2 p:nth-child(3){
        text-decoration: underline 3px ;
    }
    .destacat2{
        margin-top: 10px;
        grid-row-start: f3;
        grid-row-end: f4;
        width: 100%;
        height: 600px;
        background-image: url(./img/destacat2.jpg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 100%;
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        justify-content: center;
    }
    .destacat2 h1{
        text-decoration-line: underline;
        color: white;
        margin-left: 70px;
    }
    .destacat2 p{
     color: white;
     margin-left: 70px;
    }
    .destacat2 input{
       padding: 1em;
       width: 15%;
       margin-left: 70px;
       margin-top: 20px;
    }
    .productes{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .productes h2{
       margin-left: 45%;
        
    }
    .productes p:nth-child(){ 
        text-decoration-line: underline;
        align-self: flex-end;
         
     }
    .productes .containerProductes{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .containerProductes div[class^='producte']{
        width: 25%;
        height: 300px;
        padding: 14px 16px;
    }
    .containerProductes div[class^='producte']{
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
    }
    .containerProductes .producte1 div{
        padding-top: 1%;
    }
    .containerProductes .producte1 .itemsImatge{
        width: 100%;
        height: 170px;
        background-image: url(./img/producte1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .containerProductes .itemsImatge div h5{
        background-color: rgb(105, 38, 105) ;
        color: white;
        padding:0.5em;
    }
    div[class^='producte'] .productDescriptio{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .producte1 .productDescriptio p:first-of-type{
        font-weight: bold;
    }
    .producte1 .star svg{
        color: #ffa400;
    }
    .producte1 .colors svg:nth-child(1){
       stroke: black;
       stroke-width: 1px;
       fill: grey;
    }
    .producte1 .colors svg:nth-child(2){
        fill: rgb(88, 88, 179);
     }
     .producte1 .colors svg:nth-child(3){
        fill: rgb(138, 68, 68);
     }

     .containerProductes .producte2{
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
    }
    .containerProductes .producte2 div{
        padding-top: 1%;
    }
    .containerProductes .producte2 .itemsImatge{
        width: 100%;
        height: 170px;
        background-image: url(./img/producte2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .containerProductes .producte2 .itemsImatge div h5{
        background-color: rgb(105, 38, 105) ;
        color: white;
        padding:0.5em;
    }
    .producte2 .productDescriptio{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .producte2 .productDescriptio p:first-of-type{
        font-weight: bold;
    }
    .producte2 .preu{
        display: flex;
    }
    .producte2 .preu p:nth-child(1){
        color: grey; 
        text-decoration-line: line-through;
    }
    .producte2 .preu p:nth-child(2){
        padding-left: 3%;
        color: red;
        
    }
    .producte2 .star svg{
        color: #ffa400;
    }
    .producte2 .colors svg:nth-child(1){
        fill: rgb(64, 180, 136);
    }
    .producte2 .colors svg:nth-child(2){
        stroke: black;
        stroke-width: 1px;
        fill:darkblue;

     }
     .producte2 .colors svg:nth-child(3){
        fill: rgb(138, 68, 68);
     }
     .containerProductes .producte3{
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
    }
    .containerProductes .producte3 div{
        padding-top: 1%;
    }
    .containerProductes .producte3 .itemsImatge{
        width: 100%;
        height: 170px;
        background-image: url(./img/producte3.jpg);
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .containerProductes .producte3 .itemsImatge div h5{
        background-color: rgb(105, 38, 105) ;
        color: white;
        padding:0.5em;
    }
    .producte3 .productDescriptio{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .producte3 .productDescriptio p:first-of-type{
        font-weight: bold;
    }
    .producte3 .preu{
        display: flex;
    }
    .producte3 .preu p:nth-child(1){
        color: grey; 
        text-decoration-line: line-through;
    }
    .producte3 .preu p:nth-child(2){
        padding-left: 3%;
        color: red;   
    }
    .producte3 .star svg{
        color: #ffa400;
    }
    .producte3 .star svg:nth-child(4), .producte3 .star svg:nth-child(5){
        color: rgba(143, 142, 142, 0.301);
    }
    .producte3 .colors svg:nth-child(1){
        fill: rgba(64, 180, 136, 0.637);
    }
    .producte3 .colors svg:nth-child(2){
        stroke: black;
        stroke-width: 1px;
        fill: rgba(95, 158, 160, 0.616);
     }
     .producte3 .colors svg:nth-child(3){
        fill: black;
     }

}


  
