@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
    width: 100%;
}
header{
    margin-bottom: 5%;
    width: 100%;
    background-color: #ecf0f1;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
}
header .menu_mvl{
    display: none;
}
header h1{
    letter-spacing: 0.2em; 
    color: rgb(105, 38, 105);
    font-weight: bold;
}
header a{
    text-decoration: none;
}
.menu_boto{
    display: none;
}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
nav ul li{
    padding: .5em 1em;
}
nav ul hr{
    display: none;
}
nav input{
    display: none;
}
.svg{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.5em;
    justify-content: space-between;
    width: 5%;
}
.svg .carro{
    order: 3;
}
.svg .cor{
    order: 1;
}
.svg .lupa{
    order: 2;
}
section{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-rows:[f1]40px[f2]40px[f3]150px[f4]40px[f5]270px[f6]50px[f7];
    grid-template-columns: [c1]30%[c2]auto[c3];
    font-weight: bold;
}
.imgPrincipal{
    grid-column-start: c1;
    grid-column-end: c2;
    height: 500px;
}
#principal {
    margin-top: 10%;
    width: auto;
    height: 300px;
}
.img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.img img:nth-child(5){
    border-bottom:solid 3px rgb(105, 38, 105);
}
.nom{
    grid-column-start: c2;
    grid-column-end: c3;
    grid-row-start: f1;
    grid-row-end: f2;
}
.cualificacio{
    grid-column-start: c2;
    grid-column-end: c3;
    grid-row-start: f2;
    grid-row-end: f3;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-self: center;
}
.star svg{
    color: #ffa400;
}
.cualificacio p{
    color: red;
}
.descripcio{
    grid-column-start: c2;
    grid-column-end: c3;
    grid-row-start: f3;
    grid-row-end: f4;  
}
.descripcio div{
    display: flex;
    justify-content: space-between;
}
.descripcio div p:first-child{
    flex-basis: 20%;
}
.descripcio div p:nth-child(2){
    flex-basis: 80%;
    color: gray;
}
.descripcio p{
    padding: 5px;
}
.preu{
    grid-column-start: c2;
    grid-column-end: c3;
    grid-row-start: f4;
    grid-row-end: f5;  
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}
.preu p:nth-child(1){
    color: grey; 
    text-decoration-line: line-through;
}
.preu p:nth-child(2){
    padding-left: 1%;
    color: red; 
}
.detalls{
    grid-column-start: c2;
    grid-column-end: c3;
    grid-row-start: f5;
    grid-row-end: f6;  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.detalls .talla{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.detalls .talla p:nth-child(2){
    text-decoration-line: underline;
}
.detalls .talles{
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.detalls .talles p{
    height: 25px;
    width: 25px; 
    text-align: center;
    border-radius: 50% ;
}
.detalls .talles p:nth-child(1),.detalls .talles p:nth-child(3){
    border: 2px solid rgba(128, 128, 128, 0.514);
}
.detalls .talles p:nth-child(2){
    border: 2px solid black;
}
.colors{
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.color{
    padding-top: 2%;
}
.colors div{
    height: 25px;
    width: 25px;
    border-radius: 50% ;
}
.colors div:nth-child(1){
    background-color:darkcyan;  
}
.colors div:nth-child(2){
    background-color: darkblue;
    border: 2px solid black;
}
.colors div:nth-child(3){
    background-color: darkslategrey;
}
.num{
    width: 15%;
    display: flex;
    flex-wrap: wrap;
}
.num p:nth-child(1){
    padding: 7%;
    border-top: 1px solid rgba(128, 128, 128, 0.514);
    border-bottom: 1px solid rgba(128, 128, 128, 0.514);
    border-left: 1px solid rgba(128, 128, 128, 0.514);
    color: rgba(128, 128, 128, 0.514);
}
.num p:nth-child(2){
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 7%;
    border: 1px solid rgba(128, 128, 128, 0.514);
}
.num p:nth-child(3){
    padding: 7%;
    border-top: 1px solid rgba(128, 128, 128, 0.514);
    border-bottom: 1px solid rgba(128, 128, 128, 0.514);
    border-right: 1px solid rgba(128, 128, 128, 0.514);
    color: rgba(128, 128, 128, 0.514);
}
.boto{
    grid-column-start: c2;
    grid-column-end: c3;
    grid-row-start: f6;
    grid-row-end: f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    color: black;
    background-color: transparent;
    border: 2px solid rgb(105, 38, 105) ;
    border-radius: 6px;
    padding: 16px 370px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
}






